.root {
    -fx-font-family: "Arial";
    -fx-padding: 20px;
}

.button {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 10px;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: #45a049;
}
